^http://.*+/.*+\.(gif|jpg|jpeg|jpe|png|tif|tiff)
^http://(.*?\.)?.*+\..*+/.*?\?page=Attachment&attachmentID=[0-9a-zA-Z]+&h=[0-9a-zA-Z]+
^http://(.*?\.)?.*+\..*+/attachment\.php\?attachmentid=[0-9a-zA-Z]+&d=[0-9a-zA-Z]+
