/* PRINT */
body {
	background: #FFFFFF !important;
	color: #000000 !important;
	margin: 0 !important;
	padding: 0 !important;
}

div#header {
	display: none !important;
}

div#menu {
	display: none !important;
}

div#submenu {
	display: none !important;
}

div#content {
	overflow: visible !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}

div.download {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: #FFFFFF !important;
	border: none !important;
}

div.features {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: #FFFFFF !important;
	border: none !important;
}

div#footer {
	display: none !important;
}

.title {
	display: none !important;
}

div#content a {
	color: #000000 !important;
}

a.noStyle {
	background-color: #FFFFFF !important;
	color: #000000 !important;
}
